.parallax {
    background-image: url('./music-project-2-images/apple-music-note-.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
display: flex;
justify-content:center;
align-items:center;
font-family:  Georgia, Times,  serif;
color: aliceblue;
font-size: 90pt;
} 

#search {
    margin-left: 650px;
}